<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir usuario</title>
</head>
<body>

    
    <DIV>
        <div class="text-c ptb-3">
            <H1>INGRESAR USUARIO</H1>
        </div>
    </DIV>
        

    <!--comienzo del formulario de nuevo tipo de usuario-->


            <!--IGNORAR ESTO-->
            <section class="py-1">
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-lg-3 col-xl-3   pt-2 px-4 pb-2">
                        <div class="card h-100">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <form action="/modificarAsiento" method="POST"></form>
                                    <p class="lead fw-bolder fs-3">Crear Asiento Nuevo</p>
                                        
                                            <div class="mb-3">
                                                <label for="nombre" class="form-label">Codigo Asiento</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre"  tabindex='1'>
                                            </div>
                                                                
                                            <button type="submit" class="btn" id="submit-btn" tabindex="5">Guardar</button>
                                </form>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> 
            </div>
        </section>
    
</body>
</html>